.header {
display:flex;
justify-content:space-between;
border: 2px solid white;
background-color: rgb(235, 207, 154);
margin-bottom: 5px;
}

.logo {
    width:160px;
    height:55px;
}

.nav-items {
    padding: 0px 2px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-items > ul > li {
    float: right;
}

.nav-items > ul >li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.nav-items > ul >li a:hover:not(.active) {
  background-color: #efe7e7;
}

.nav-items > ul >.active {
  background-color: #04AA6D;
}

.res-card-show{
  text-decoration: auto;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    width:auto;
    justify-content: center;
}

.res-card {
  width: 240px;
  border-radius: 5px;
  box-shadow: -1px 5px 10px 5px rgba(42, 42, 42, 0.2);
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}

.res-card:hover{
    transform: scale(1.05);
}

.res-card > img {
    width: 100%;
    border-radius: 10px;
  }
  
  .res-card > h3 {
    margin:1px 0px;
  }
  
  .res-card > span {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    text-align: left;
    color:black;
  }
  
  .res-card > span > h4 {
    font-weight: bolder;
    font-size: 12px;
    padding: 0 2px 0;
    margin-top: 10px;
  }
  
  .res-card > span > h4:first-child {
    display: flex;
    align-items: center;
    background-color: var(--light-green);
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin-top: 5px;
  }
  
  .res-card > span > h4:first-child .fa-star {
    font-size: 10px;
    padding: 0 5px 3px 0;
  }




.search-box{
    background-color: white;
    height:30px;
}

.res-logo{
    width:90%;
    height:40%;
}

.filter-btn{
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width:200px;
    height:400px;
    background-color: #f0f0f0;
    margin: 20px;
}

.login{
    width:60px;
    padding:20px 1px;
    background-color: rgb(235, 207, 154);
    border:none;
    cursor: pointer;
    font-size: 15px;
}

.filter{
    display:flex;
    padding:2px 2px;
    background-color: rgb(235, 207, 154);
}

/* Restaurant Menu CSS Start */
.restaurant-menu {
  margin-top: 80px;
  min-height: 80vh;
  width: auto;
}
.restaurant-summary {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-color: var(--light-black);
  color: var(--white);
}
.restaurant-img {
  width: 250px;
  height: 170px;
  border-radius: 5px;
}
.restaurant-summary-details {
  display: flex;
  flex-direction: column;
  flex-basis: 520px;
  margin: 20px;
}
.restaurant-title {
  font-size: 40px;
  max-width: 540px;
  font-weight: 300;
  margin:10px 0px;
}
.restaurant-tags {
  white-space: nowrap;
  color: inherit;
  opacity: 0.7;
  font-size: 15px;
  max-width: 540px;
}
.restaurant-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 10px;
  color: inherit;
  font-weight: 600;
  font-size: 16px;
  max-width: 340px;
}
.restaurant-rating {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  gap: 5px;
  background-color: var(--dark-green);
  border-radius: 5px;
  
}


.isVegDiv{
  justify-content: center;
  display: flex;
}
.restaurant-menu-content {
  display: flex;
  justify-content: center;
}

.menu-items-container {
  margin-top: 30px;
  width: 850px;
}
.menu-title-wrap {
  padding: 5px;
}
.menu-count {
  margin-top: 14px;
  line-height: 1.3;
  color: rgba(40, 44, 63, 0.45);
  letter-spacing: -0.3px;
  font-size: 1rem;
}

.menu-items-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  max-height: 250px;
  padding: 20px;
  border-bottom: rgba(40, 44, 63, 0.45) 0.5px solid;
}
.menu-item-details {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  overflow: hidden;
}

.item-title {
  width: 60%;
}
.item-desc {
  margin-top: 14px;
  line-height: 1.3;
  color: rgba(40, 44, 63, 0.45);
  width: 60%;
  letter-spacing: -0.3px;
  font-size: 1rem;
}
.item-cost {
  margin-top: 4px;
  font-size: 1rem;
  font-weight: 400;
  color: #3e4152;
  width: 40%;
}

.menu-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 200px;
  overflow: hidden;
}
.menu-item-img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
.add-btn {
  background-color: var(--orange);
  color: var(--text-color);
  padding: 8px 25px;
  cursor: pointer;
  outline: none;
  border-color: var(--dark-orange);
  margin-top: 10px;
  border-radius: 5px;
}

/* Restaurant Menu End Start */


.user-card {
  padding:2px;
}


